<div class="center jumbotron">
  <h1><%= t :home %></h1>
  <h2>
    <%= t(:content_p, links: link_to(t(:a_href), "https://www.railstutorial.org")).html_safe %>
  </h2>
  <%= link_to (t :btn_signup), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to "#" do %>
  <%= image_tag("rails.png", :alt=> t(:alt_img_logo_rails), :id=> "img_logo") %>
<% end %>
<%= link_to "#" do %>
  <%= image_tag("kitten.jpg", :alt=> t(:alt_img_cat), :id=> "img_cat") %>
<% end %>
