<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(:placeholder_text_area_micropost) %>
  </div>
  <%= f.submit t(:btn_post), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: "image/jpg,image/jpeg,image/gif,image/png",
    id: "micropost_picture"%>
  </span>
<% end %>
